.header__contact > div {
	display: flex;
	justify-content: space-between;
	background-color: #ffffff;
	height: 40px;
	line-height: 40px;
}
.header__contact ul{
	padding:0;
}
.header__contact ul li{
	display: inline-block;
	font-size: 1.4rem;
	margin: 0 10px;
}
.header__contact ul li a{
	color: #777777;
}
.header__contact ul li a:hover{
	color: var(--theme-color);
}
.header__contact .header__contact--contact li{
	color: #777777;
}
.header__contact .header__contact--contact i{
	color: var(--theme-color);
	margin: 0 5px;
}
.header .header__navbar{
	background-color: #f8f8f8;
	font-size: 1.6rem;
	transition: .4s;
}
@keyframes changeScroll{
	from{
		transform: translateY(-100%);
	}
	to{
		transform: translateY(0);
	}
}
.header .header__navbar.changeScroll{
	position: fixed;
	width: 100%;
	top:0;
	z-index: 999;
	animation: changeScroll ease 1s;
}
.header .header__navbar.changeScroll .header__navbar--menu{
	padding: 10px;
}
.header .header__navbar .header__navbar--menu{
	padding:25px;
	line-height: 2rem;
	text-align: center;
}

@media (min-width: 992px){
	.navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox!important;
    display: flex!important;
    flex-direction: row-reverse;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;

}
}
.header .header__navbar .header__navbar--menu #navbarSupportedContent .nav-item{
	margin: 0 10px;
}
.header .header__navbar .header__navbar--menu #navbarSupportedContent .nav-item .nav-link{
	color: var(--text-color-black);
	font-weight: 700;
	text-transform: uppercase;
}
.header .header__navbar .header__navbar--menu #navbarSupportedContent .nav-item.active .nav-link{
	color: var(--theme-color);
}
@media (max-width: 768px){
	.header .header__navbar{
		display: none;
	}
}
@media (max-width: 992px) and (min-width: 769px){
	.header .header__contact{
		display: none;
	}
}
/*Banner*/
.banner .banner__content{
	width: 100%;
	height: 500px;
	background-image: url('../../images/banner/home.jpg');
	background-size: cover;
	background-position: center;
	position: relative;
}
.banner .banner__content .banner__content--wrapper{
	position: absolute;
	width: 400px;
	top: 50%;
	left: 25%;
	transform: translate(-25% , -50%);
}
.banner .banner__content .banner__content--wrapper *{
	color: var(--text-color-white);
}
.banner .banner__content .banner__content--wrapper h1{
	font-size:4rem;
}
.banner .banner__content .banner__content--wrapper p{
	font-size: 1.2rem;
}
.banner .banner__content .banner__content--wrapper button{
	padding : 10px 20px;
	background-color: #3eace4;
	border:1px solid #3eace4;
	border-radius: 5px;
	font-size: 1.4rem;
}

/*center*/
.list_header>li>a{
	color: black;
	font-weight: bold;
}
.list_header>li{
	padding-bottom: 1%;
}
.list_pages{
	display: none;
	position: absolute;
	background: white;
	width: 180px;
	top:100%;
	left: -1px;
	z-index: 2;
	padding: 0 !important;
}


.list_pages>li{
	list-style: none;
	border-top:2px solid #ebebe0;
	height: 35px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	color: black;
	font-weight: bold;
}


.header1>div>div>a{
	color: black;

}
button>a{
	color: blue;
	text-decoration: underline;
}
a{
	color: black;
}
.button1_1>button{
	padding-left: 2%;
	padding-right: 2%;
	color: white;
	margin: 0 0.5%;
	border-radius: 0px;
}
.button1_2>button{
	padding-left: 2%;
	padding-right: 2%;
	color: white;
	margin: 0 0.5%;
}
.button1_3>button{
	padding-left: 2%;
	padding-right: 2%;
	color: white;
	margin: 0 0.5%;
	border-radius: 18px;
}
.button2_1>button{
	padding-left: 2%;
	padding-right: 2%;
	margin: 0 0.5%;
	border-radius: 0px;
}
.button2_2>button{
	padding-left: 2%;
	padding-right: 2%;
	margin: 0 0.5%;
}
.button2_3>button{
	padding-left: 2%;
	padding-right: 2%;
	margin: 0 0.5%;
	border-radius: 18px;
}
.images{
	position: relative;
}
input{
	margin-top: 1%;
	margin-bottom: 1%;
	
}


.menu4{
	width: 50%;
	height: 100%;
	background:#96badc;
	position: absolute;
	top: 0;
	overflow: scroll;
	z-index: 1;
}
.list_pages1{
	display: none;
	background: white;
	width: 100%;
	top:100%;
	left: -1px;
	z-index: 2;
	padding: 0 !important;
}
.list_pages1>li{
	list-style: none;
	border-top:2px solid #ebebe0;
	height: 35px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	color: black;
	font-weight: bold;
}
.bars,.times{
	position: absolute;
	left: 90%;
	display: none;
}

.footer>div>div>div>p{
	margin: 0 ;
	color: grey;
}
.footer{
	padding-top: 5%;
	padding-bottom: 5%;
}
.icon_web>div{
	width: 25px;
	height: 25px;
	background: black;
	padding-left: 7px;
	display: inline-block;

}

.icon_web>div>i{
	color: grey;
	font-size: 10px;

}
.text_hover{
		margin-bottom: 3%;
	}

@media screen and (min-width: 768px) and (max-width: 991px){
	.header1,.header2_list{
		display: none;
	}
	.header2{
		padding-bottom: 1% !important;
	}
	.bars{
		display: block;

	}
	.times{
		display:none ;
	}

	.banner{
		width: 100%;
	}
	.banner>img{
		width: 100%;
	}
	.banner,.text_view{
		width: 100% !important;
	}
	.banner>div>div{
		width: 80% !important;
		font-size: 1px;
		padding-top: 5% !important;
	}
	.bg_hide{
		margin-top: 5%;

	}
	.bg_hide>img{
		width: 100%;
	}
	.bg_hide>div{
		text-align: center;
	}
	.myself>div>img{
		width: 100%;
	}
	.slide_list{
		position: absolute;
		top: 65%;
	}
	.text_hover{
		margin-bottom: 3%;
	}
}
@media screen and (max-width: 767px){
	.header1,.header2_list{
		display: none;
	}
	.header2{
		padding-bottom: 1% !important;
	}
	.bars{
		display: block;
	}
	.banner{
		width: 100%;
	}
	.banner>img{
		width: 100%;
	}
	.banner,.text_view{
		width: 100% !important;
	}
	.banner>div>div{
		width: 80% !important;
		font-size: 1px;
		padding-top: 1% !important;
	}
	.bg_hide{
		margin-top: 5%;
	}
	.bg_hide>img{
		width: 100%;
	}
	.bg_hide>div{
		text-align: center;
	}
	.myself>div>img{
		width: 100%;
	}
	.slide_list{
		position: absolute;
		top: 50%;
	}
	.text_hover{
		margin-bottom: 3%;
	}
	.data_user{
		margin-bottom: 5%;
	}
	
}

/*end center*/



/*Footer*/
.footer{
	background-color: #222222;
	color: #fff;
}
.footer__social--wrapper span a i:hover{
	color: var(--theme-color);
}
@media (min-width: 993px){
	.footer .footer__wrapper{
		padding : 50px 0;
	}
}
@media screen and (max-width: 992px){
	.footer .footer__wrapper{
		padding : 20px 0;
	}
}
.footer .footer__wrapper div[class*=footer__]{
	padding : 0 15px;
}
.footer .footer__wrapper div[class*=footer__] h1{
	font-size: 2.2rem;
}
.footer .footer__wrapper div[class*=footer__] h3{
	margin: 15px 0;
	font-size: 1.8rem;
}
.footer .footer__wrapper div[class*=footer__] p ,
.footer .footer__wrapper div[class*=footer__] address{
	font-size: 1.4rem;
	color: #EBEBEB;
	opacity: .6;
}

/*.footer .footer__top--products

.footer .footer__contact*/
.footer .footer__news .footer__news--started >div{
	display: inline-block;
}
@media screen and (min-width: 768px) and (max-width: 992px){
	.footer .footer__news .footer__news--started >div{
		display: block;
		margin-top: 15px;
	}
}
.footer .footer__news .footer__news--started input[type=text]{
	display: inline-block;
	width: 50%;
	height: 35px;
	border-radius: 35px;
	outline: none;
	border:none;
	background-color: #2d2d2d;
	color: white;
	padding : 0 20px;
	font-size: 1.2rem;
}
.footer .footer__news .footer__news--started input[type=submit]{
	display: inline-block;
	width: 120px;
	height: 35px;
	border-radius: 35px;
	outline: none;
	border:none;
	background-color: #3eace4;
	color: white;
	padding : 0 20px;
	font-size: 1.2rem;
}
.footer .footer__social--wrapper{
	display: flex;
	text-align: right;
	justify-content: space-between;
	padding-bottom: 50px;
}
.footer .footer__social--wrapper  span{
	font-size: 1.4rem;
}
.footer .footer__social--wrapper  span:last-child a{
	color: var(--text-white-color);
}
.footer .footer__social--wrapper  span:last-child a i{
	width: 30px;
	height: 30px;
	line-height: 30px;
	margin: 0 5px;
	background-color: #111111;
	text-align: center;
}


@media screen and (min-width: 768px) and (max-width: 992px){
	.footer .footer__social--wrapper  span:last-child{
		display: block;
		margin-top: 25px;
	}
}
@media screen and (max-width: 767px){
	.footer .footer__social--wrapper{
		display: block;
		text-align: center!important;
	}
	.footer .footer__social--wrapper  span:last-child{
		display: block;
		text-align: center;
		margin-top: 20px;
	}
}